In [1]:
from __future__ import print_function
import os
data_path = ['data']

In [8]:
import pandas as pd
filepath = os.sep.join(data_path + ['Covid Data.csv'])
data = pd.read_csv('Covid Data.csv')
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [9]:
data.drop(['DATE_DIED'], axis=1, inplace=True)
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,97,2,40,97,2,2,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,2,2,51,97,2,2,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,97,2,55,97,2,2,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,97,2,28,97,2,2,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,97,2,52,97,2,2,2,2,2,2,2,2,2,2,7,97

In [10]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()

for col in ['SEX']:
    data[col] = lb.fit_transform(data[col])

data

/opt/intel/oneapi/intelpython/latest/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,0,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,3,97
1,2,1,1,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,5,97
2,2,1,1,2,1,2,55,97,1,2,2,2,2,2,2,2,2,2,3,2
3,2,1,0,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,7,97
4,2,1,1,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,1,1,97,2,40,97,2,2,2,2,2,2,2,2,2,2,7,97
1048571,1,13,1,2,2,2,51,97,2,2,2,2,1,2,2,2,2,2,7,2
1048572,2,13,1,1,97,2,55,97,2,2,2,2,2,2,2,2,2,2,7,97
1048573,2,13,1,1,97,2,28,97,2,2,2,2,2,2,2,2,2,2,7,97
1048574,2,13,1,1,97,2,52,97,2,2,2,2,2,2,2,2,2,2,7,97

In [11]:

import warnings
warnings.filterwarnings('ignore', module='sklearn')

In [12]:
from sklearn.preprocessing import MinMaxScaler

msc = MinMaxScaler()

data = pd.DataFrame(msc.fit_transform(data),  
                    columns=data.columns)
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,1.0,0.0,0.0,0.0,0.979592,0.000000,0.537190,0.010309,0.010309,0.010309,0.010309,0.010309,0.000000,0.010309,0.010309,0.010309,0.010309,0.010309,0.333333,0.979592
1,1.0,0.0,1.0,0.0,0.979592,0.000000,0.595041,0.989691,0.010309,0.010309,0.010309,0.010309,0.000000,0.010309,0.010309,0.000000,0.000000,0.010309,0.666667,0.979592
2,1.0,0.0,1.0,1.0,0.000000,0.010204,0.454545,0.989691,0.000000,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.333333,0.010204
3,1.0,0.0,0.0,0.0,0.979592,0.010204,0.438017,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,1.000000,0.979592
4,1.0,0.0,1.0,0.0,0.979592,0.010204,0.561983,0.989691,0.000000,0.010309,0.010309,0.010309,0.000000,0.010309,0.010309,0.010309,0.010309,0.010309,0.333333,0.979592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1.0,1.0,1.0,0.0,0.979592,0.010204,0.330579,0.989691,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,1.000000,0.979592
1048571,0.0,1.0,1.0,1.0,0.010204,0.010204,0.421488,0.989691,0.010309,0.010309,0.010309,0.010309,0.000000,0.010309,0.010309,0.010309,0.010309,0.010309,1.000000,0.010204
1048572,1.0,1.0,1.0,0.0,0.979592,0.010204,0.454545,0.989691,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,1.000000,0.979592
1048573,1.0,1.0,1.0,0.0,0.979592,0.010204,0.231405,0.989691,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,1.000000,0.979592
1048574,1.0,1.0,1.0,0.0,0.979592,0.010204,0.429752,0.989691,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,0.010309,1.000000,0.979592

In [13]:
x_cols = [x for x in data.columns if x != 'SEX']

# Split the data into two dataframes
X_data = data[x_cols]
y_data = data['SEX']
X_data
y_data

0          0.0
1          1.0
2          1.0
3          0.0
4          1.0
          ...
1048570    1.0
1048571    1.0
1048572    1.0
1048573    1.0
1048574    1.0
Name: SEX, Length: 1048575, dtype: float64

In [16]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)

knn = knn.fit(X_data, y_data)

y_pred = knn.predict(X_data)

In [17]:
def accuracy(real, predict):
    return sum(y_data == y_pred) / float(real.shape[0])





print(accuracy(y_data, y_pred))

0.999252318622893